#root {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-white-200: #d6d6d6;
  --color-white-300-90: rgba(253, 253, 253, 0.9);
  --color-white-300-100: rgba(253, 253, 253);
  --color-green-50: #dbe4c6;
  --color-green-100: #85aa84;
  --color-green-200: #30672e;
  --color-yellow-50: #fff6cc;
  --color-mustard: #b89854;
  --color-brown: #654b32;
  --color-gray: #808080;
  --color-lightgray: #d9d9d9;
  --color-black-90: rgba(0, 0, 0, 0.5);

  --font-h1: "Newsreader", sans-serif;
  --font-title: "Caprasimo";
  --font-header: "Alata", sans-serif;

  --shadow-header: 0 0 15px -2px rgba(0, 0, 0, 0.5);
  --shadow-inputButton: 1px 1px 7px 3px rgba(0, 0, 0, 0.7);
  --shadow-recipeButton: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
  --shadow-recipeButtonActive: inset 5px 5px 15px -2px rgba(144, 107, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
