html {
  @media (min-width: 375px) and (max-width: 767px) {
    font-size: 12px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 14px;
  }

  @media (min-width: 1024px) and (max-width: 1440px) {
    font-size: 16px;
  }
}

#root {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-white-80: rgba(253, 253, 253, 0.8);
  --color-green: #85aa84;
  --color-mustard : #b89854;
  --color-brown: #654b32;
  --color-gray: #808080;

  --font-h1: "Newsreader", sans-serif;
  --font-title: "Caprasimo";
  --font-header: "Alata", sans-serif;

--shadow-header: 0 0 15px -2px rgba(0, 0, 0, 0.5);
}
